<%= form_for @credit_card do |f| %>
  <% if credit_card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(credit_card.errors.count, "error") %> prohibited this credit_card from being saved:</h2>

      <ul>
        <% credit_card.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, required: :true, class: "form-control" %>
  </fieldset>

  <fieldset class="form-group">
    <%= f.label :aadhar_number %>
    <%= f.text_field :aadhar_number, class: "form-control" %>
  </fieldset>

   <fieldset class="form-group">
    <%= f.label :pan_number %>
    <%= f.text_field :pan_number, class: "form-control" %>
  </fieldset>

   <fieldset class="form-group">
    <%= f.label :account_number, 'Bank Account Number' %>
    <%= f.text_field :account_number, class: "form-control" %>
  </fieldset>

  <fieldset class="form-group">
    <%= f.label :ifsc, 'Bank Account IFSC' %>
    <%= f.text_field :ifsc, class: "form-control" %>
  </fieldset>

  <fieldset class="form-group">
    <%= f.label :monthly_recurring_inflow %>
    <%= f.text_field :monthly_recurring_inflow, required: :true, class: "form-control" %>
  </fieldset>

  <fieldset class="form-group">
    <%= f.label :monthly_recurring_outflow %>
    <%= f.text_field :monthly_recurring_outflow, required: :true, class: "form-control" %>
  </fieldset>

  <div class="col-mx-12">
    <%= f.submit  "Apply", class: "btn btn-secondary rounded-pill mb-3 mr-2" %>
  </div>
<% end %>
